<div id="query-input" class="relative">
  <label for="query-text-area"></label>
  <textarea
    id="query-text-area"
    name="query"
    :disabled="isLoading"
    class="h-64 w-full rounded-md border border-gray-300 p-2 disabled:text-gray-500"
    placeholder="Enter your Clickhouse query here"
    required
  >
{% if props.query %}{{ props.query }}{% endif %}</textarea
  >
  <div class="group relative">
    <button
      id="improve-query"
      type="button"
      class="absolute bottom-4 right-2 flex items-center justify-center rounded-full bg-yellow-400 p-2 text-white shadow-lg hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-300 disabled:bg-yellow-200"
      title="Improve Query"
      hx-post="/queries/optimize"
      hx-target="#result"
      hx-swap="innerHTML"
      :disabled="isLoading || query.trim() === ''"
    >
      {% include '/icons/_bolt.html' %}
    </button>

    <!-- Tooltip -->
    <div
      class="absolute bottom-16 right-0 hidden items-center rounded-lg border border-gray-200 bg-white px-3 py-1 text-sm text-gray-600 shadow-lg group-hover:flex"
      x-show="!isLoading && query.trim()"
    >
      💡 Improve with AI
    </div>
  </div>
</div>
